{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "settings": {
    "angular": 1
  },
  "globals": {
    "app": true,
    "angular": true,
    "window": true,
    "document": true
  }
}